.homepage {
    display:flex;
    width: 100%;
  }
  body{
    overflow-x: hidden;
  }
  .link{
    text-decoration: none;
  }
  .sidebar {
    /* width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff; */
    transition: transform 0.3s ease;
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 15px;
      /* border-top-left-radius: 15px; */
      border-bottom-right-radius:15px;
      /* border-bottom-left-radius:15px; */
      width:200px;
      height:100vh;
      box-shadow: 2px 5px 10px 1px rgb(0, 0, 0, 0.15);
  }
  
  .header{
    margin-left: -500px;
    display: block;
  }
  .content {
    flex: 1;
    padding: 20px;
    transform: translate(0,55%);
  }
  
  button {
    margin-bottom: 20px;
  }
  table {
    margin-top: 200px;
    margin-left: -850px;
    margin-right: 300px;
    size: 50%;
    width: 1000px;
    border-collapse: collapse;
    background-color: rgb(184, 179, 179); /* Change the background color as per your preference */
  }
  
  table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #333;
    color: black;
  }
  
  table th, table tr {
    padding: 8px;
    border: 1px solid #ddd;
  }
  .bdr {
    border-radius: 10px;
    overflow: hidden;
    animation: animate-comp 0.4s alternate ease-in-out;
  }
  .table-striped>thead>tr>th{
    background-color: #4f92ff;
  }
  .table-striped>tbody>tr{
  }
  .table-item{
    height:25px;
    vertical-align: middle;
  }
  
  .table-striped>tbody>tr:nth-child(even)>td,
  .table-striped>tbody>tr:nth-child(even)>th {
    background-color:#c4e0ff 
  }
  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color:rgb(244 250 255)
  }
  
  
  .lists table {
    background: transparent;
    padding: 10px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 2px 5px 10px 1px rgb(0, 0, 0, 0.15);
    transition: all 300ms ease;
  }
  
  .lists {
    margin-top: 2rem;
  }
  
  .lists h2 {
    margin-bottom: 0.8rem;
  }
  
  table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid white;
  }
  
  #side-bar-el{
    border-top-right-radius: 15px;
    /* border-top-left-radius: 15px; */
    border-bottom-right-radius:15px;
    /* border-bottom-left-radius:15px; */
    /* width:250px; */
    height:100vh;
    box-shadow: 2px 5px 10px 1px rgb(0, 0, 0, 0.15);
  }
  
  #nav-bar{
    margin:-10px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    height:90vh;
    background-color: #c4e0ff;
    width: 20%;
  }
  
  .nav-element {
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border: none;
    background-color: #4f92ff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 25px;
  }
  
  .nav-element p {
    font-size: 20px;
    margin: 0;
  }
  
  
  
  .nav-element:hover{
    background-color: #c4e0ff;
    opacity:1;
  }
  
  .nav-icon{
    scale:1.5;
  }
  .homeinsights {
    display: grid block;
    grid-template-columns: repeat(4, 200px); /* Adjust width of each card */
    gap: 1.6rem;
    margin-left: 1000px;
    margin-top: -900px;
    /* margin-bottom: 100px; */
    /* width: 100px;
    height: 100px; */
    justify-content: center;
  }
  .log{
    margin-top: 200px;
    margin-left: -2000px;
    margin-bottom: -175px;
  }
  .homeinsights > div {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 950px;
    margin-bottom: 2500px;
    /* margin-left: 100px; */
    width: 150px;
    transition: all 300ms ease-in-out;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.15);
  }
  
  .homeinsights > div:hover {
    box-shadow: -2px -5px 10px 1px rgba(0, 0, 0, 0.15);
    background-color: var(--accent); /* Adjust accent color as needed */
  }
  
  .homeinsights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
    height: 50px;
    width: 50px;
  }
  
  .det-card {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    z-index: 2;
    animation: animate-comp 0.4s alternate ease-out;
    margin-left: -450px;
  }
  
  .det-card:hover .icon {
    scale: 6;
    opacity: 0.4;
    color: var(--secondary); /* Adjust secondary color as needed */
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-left: -1500px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    border: none;
    background-color: #c4e0ff;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #4f92ff;
  }
  
  
  